body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .films-menu {
    width: 30%;
  }
  
  .film-details {
    width: 60%;
  }
  
  ul#films {
    list-style: none;
    padding: 0;
  }
  
  ul#films li {
    cursor: pointer;
    margin-bottom: 10px;
    color: rgb(0, 60, 255);
    background-color: rgb(230, 225, 231);
    word-wrap: inherit;
    font-style: italic;
  }
  
  ul#films li.sold-out {
    color: red;
  }
  
  img#poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  
  button#buy-ticket {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  